div#root {
    margin-left: 20px;
    margin-right: 20px;
}

table.departments-table {
    margin-top: 20px;
}

/*Bootstrap overrides*/
table.departments-table td {
    vertical-align: middle !important;
}

button.btn {
    margin-right: 10px;
}